table.blue-table {
  border: 1px solid #1c6ea4;
  background-color: #eee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blue-table td,
table.blue-table th {
  border: 1px solid #aaa;
  padding: 3px 2px;
}

table.blue-table th {
  text-align: center;
}

table.blue-table tbody td {
  font-size: 13px;
}

table.blue-table tr:nth-child(even) {
  background: #d0e4f5;
}

table.blue-table thead {
  background: #1c6ea4;
}

table.blue-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #d0e4f5;
}

table.blue-table thead th:first-child {
  border-left: none;
}

table.blue-table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #d0e4f5;
  border-top: 2px solid #444;
}

table.blue-table tfoot td {
  font-size: 14px;
}

table.blue-table tfoot .links {
  text-align: right;
}

table.blue-table tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* red */
table.red-table {
  border: 2px solid #a40808;
  background-color: #eee7db;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.red-table tbody td {
  font-size: 13px;
}

table.red-table thead {
  background: #a40808;
  border-bottom: 2px solid #444;
}

table.red-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #a40808;
}

table.red-table thead th:first-child {
  border-left: none;
}

table.red-table tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #a40808;
  border-top: 2px solid #444;
}

table.red-table tfoot td {
  font-size: 14px;
}

table.red-table tfoot .links {
  text-align: right;
}

table.red-table tfoot .links a {
  display: inline-block;
  background: #fff;
  color: #a40808;
  padding: 2px 8px;
  border-radius: 5px;
}

table.red-table td,
table.red-table th {
  border: 1px solid #aaa;
  padding: 3px 2px;
}

table.red-table th {
  text-align: center;
}

table.red-table tr:nth-child(even) {
  background: #f5c8bf;
}

/* orange */
table.orange-table {
  border: 2px solid #ffa952;
  background-color: #eee7db;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.orange-table td,
table.orange-table th {
  border: 1px solid #aaa;
  padding: 3px 2px;
}

table.orange-table th {
  text-align: center;
}

table.orange-table tbody td {
  font-size: 13px;
}

table.orange-table tr:nth-child(even) {
  background: #f5c8bf;
}

table.orange-table thead {
  background: #ffa952;
  border-bottom: 2px solid #444;
}

table.orange-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #ffa952;
}

table.orange-table thead th:first-child {
  border-left: none;
}

table.orange-table tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #ffa952;
  border-top: 2px solid #444;
}

table.orange-table tfoot td {
  font-size: 14px;
}

table.orange-table tfoot .links {
  text-align: right;
}

table.orange-table tfoot .links a {
  display: inline-block;
  background: #fff;
  color: #ffa952;
  padding: 2px 8px;
  border-radius: 5px;
}

/* golden */
table.gold-table {
  border: 2px solid #ffe79a;
  background-color: #eee7db;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.gold-table td,
table.gold-table th {
  border: 1px solid #aaa;
  padding: 3px 2px;
}

table.gold-table th {
  text-align: center;
}

table.gold-table tbody td {
  font-size: 13px;
}

table.gold-table tr:nth-child(even) {
  background: #f5c8bf;
}

table.gold-table thead {
  background: #ffe79a;
  border-bottom: 2px solid #444;
}

table.gold-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-left: 2px solid #ffe79a;
}

table.gold-table thead th:first-child {
  border-left: none;
}

table.gold-table tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #ffe79a;
  border-top: 2px solid #444;
}

table.gold-table tfoot td {
  font-size: 14px;
}

table.gold-table tfoot .links {
  text-align: right;
}

table.gold-table tfoot .links a {
  display: inline-block;
  background: #fff;
  color: #ffe79a;
  padding: 2px 8px;
  border-radius: 5px;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dev-table {
  text-align: left;
}

.summlabel {
  white-space: nowrap;
}
